@font-face {
  font-family: Pixel;
  src: url(Minecraft.ttf);
}

* {
font-family: pixel;
}

button {
width: 200px;
height: 50px;
border: 1px solid black;
padding: 5px;
color: black;
}

.container  {
position: relative;
width: 300px;
height: 300px;
}

.Cosmetics img {
position: absolute;
width: 100%;
height: 100%;
z-index: 3;
}


#ColorBox {
position: absolute;
width: 100%;
height: 100%;
background-color: rgb(125, 125, 125);
z-index: 1;
}

#pfp {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 2;

}

.sliders {
display: flex;
flex-direction: column;
gap: 5px;
}

.Logo {
position: absolute;
top: 0px;
right: 0px;
height: 50px;
width: 50px;
}


#RedV {
color: rgb(255, 0, 0);
}

#GreenV {
color: rgb(0, 255, 0);
}

#BlueV {
color: rgb(0, 0, 255);
}

cosmeticButtons button {
width: 100px;
height: 25px;
border: 1px solid black;
padding: 5px;
color: black;
}


#redC {
color: rgb(255, 0, 0);
}

#greenC {
color: rgb(0, 255, 0);
}

#blueC {
color: rgb(0, 0, 255);
}

#rgb {
-webkit-text-stroke: 0.5px black;
}


ul {
list-style-type: none;
margin: 0px;
padding: 0px;
overflow: hidden;
background-color: #c68e55;
}

ul li {
float: left;
}

ul li a {
display: block;
text-align: center;
color: white;
padding: 8px 8px;
text-decoration: none;
}

ul li a:hover {
background-color: #9e7041;

}
